{% extends "index.html" %}
{% load static %}
{% block content-wrapper %}

<div>
{% for job in jobs %}
<div class="form-row  col-md-12" style="padding-top:10px;z-index: 10; border: 2px solid rgb(187, 186, 186); margin-top: 20px;">
<div class="form-group">
    <div class="row" style="padding-left: 0px;">
    <h5 class="col-md-10">
        {{job.job_title}}
    </h5>
    <a href="#" >Edit</a>
    </div>
    <h6>{{ job.job_department }}</h6>
    <div class="row" style="padding-left: 16px;">
    <p>Last updated: </p>
    
    <h6 style="padding-top: 2px;">&nbsp{{ job.modified_date }}</h6>
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}